body{
    background: #667db6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

input{
    margin-left: 37.5%;
}

label{
    font-family: 'Work Sans', sans-serif;
    font-size: 3rem;
}

.search{
    margin-top: 2%;
    text-align: center;
    padding-bottom: 2%;
}

.section1{
    color: white;
    padding-left: 20%;
    text-align: left;
    font-size: 3rem;
    display: none;
    line-height: 50px;
    font-family: 'Teko', sans-serif;
}

.info{
    text-align: center;
    width: 75%;
}

.progression{
    padding-right: 10%;
    font-size: 3rem;
    margin-top: 20px;
    margin-bottom: 20px;
}

.progress{
    height: 32px;
}

#ID{
    width: 25%;
    height: 72px;
}

#myBtn{
    margin-top: 20px;
    font-size: 2rem;
}

#winPercent{
    width: 80%;
}

#drawPercent{
    width: 80%;
}

#lossPercent{
    width: 80%;
}

#sampleID{
    color: white;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
}

.samps{
    text-align: center;
}

.loader {
    display: none;
    /*margin-left: 48.4%;*/
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin:auto;
    left:0;
    right:0;
    top:0;
    bottom:0;
    position:fixed;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}






